.header {
  display: flex;
  align-items: center;
  background-color: #999999;
  margin: 60px auto 60px auto; }

.section {
  font-family: Lato, sans-serif;
  text-align: center;
  background-color: white;
  margin: 60px auto 60px auto; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  max-width: 960px;
  margin: 60px auto 60px auto;
  background-color: white; }

.artwork {
  position: relative;
  background-color: #f2f2f2;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  padding: 30px; }

.artwork-img {
  height: 200px;
  width: 100%;
  object-fit: none; }

.artwork-title {
  font-family: Lato, sans-serif;
  color: #404040;
  text-align: center; }

.portfolio-title {
  font-family: Lato, sans-serif;
  color: #404040;
  text-align: center; }

.navigation {
  overflow: hidden; }

.navigation a {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Lato, sans-serif; }

.navigation a:hover {
  color: #ffffff;
  background-color: #e8d3b5; }

.active {
  color: #c38d41; }

.navigation .icon {
  display: none; }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navigation a:not(:first-child) {
    display: none; }

  .navigation a.icon {
    float: right;
    display: block; } }
/* when the user clicks on the icon, the responsive class is added to the navigation with JavaScript */
@media screen and (max-width: 600px) {
  .navigation.responsive {
    position: relative; }

  .navigation.resonsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }

  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left; } }
ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-color: #e6e6e6;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0; }

li {
  float: left; }

li a {
  font-family: Lato, sans-serif;
  display: block;
  color: #404040;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

.float-right {
  float: right; }

li a:hover {
  color: #ffffff;
  background-color: #dbbc8f; }

.bodytext {
  font-family: Lato, sans-serif;
  text-align: center; }

/* slideshows */
* {
  box-sizing: border-box; }

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto; }

/* Hide the images by default */
.mySlides {
  display: none; }

.slides {
  margin: auto;
  text-align: center; }

.slide-number {
  font-family: Lato, sans-serif;
  color: gray;
  text-align: left; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 20px;
  font-family: Lato, sans-serif;
  color: gray;
  transition: 0.6s ease;
  /*  border-radius: 3px 3px 3px 3px; */ }

/* Position the "next button" to the right */
.next {
  right: 0px;
  /* border-radius: 3px 3px 3px 3px; */ }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #dbbc8f; }

/*# sourceMappingURL=portfolio_layout.css.map */
