$sanSerifFontFamily: Lato, sans-serif, ;
$serifFontFamily: Lustria, serif;
$themeColor: #ffffff;
$borderWidth: 1px;
$themePadding: 30px;

$themeMarginTop: 60px;
$themeMarginRight: auto;
$themeMarginBottom: 60px;
$themeMarginLeft: auto;
$themeMaxWidth: 960px;

$imageWidth: 200px;
$imageHeight: 100%;
$imageFit: none;

$fontColor: darken($themeColor, 75%);
.header {
  display: flex;
  align-items: center;
  background-color: darken($themeColor, 40%);
  margin: $themeMarginTop $themeMarginRight $themeMarginBottom $themeMarginLeft;  
}

.section {
  font-family: $sanSerifFontFamily;
  text-align: center;
  background-color: darken($themeColor, 0%);
  margin: $themeMarginTop $themeMarginRight $themeMarginBottom $themeMarginLeft;
  
}

.navigation {
	background-color: darken($themeColor, 0%);
	
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  border-color: darken($themeColor, 80%);
  border-style: solid;
  border-width: $borderWidth+1;
  max-width: $themeMaxWidth;
  margin: $themeMarginTop $themeMarginRight $themeMarginBottom $themeMarginLeft;
  background-color: darken($themeColor, 40%);  
}

.artwork {
  position: relative;
  background-color: darken($themeColor, 5%);
  border-color: darken($themeColor, 50%);
  border-style: solid;
  border-width: $borderWidth;
  padding: $themePadding;
}

.artwork-img {
  height: $imageWidth;
  width: $imageHeight;
  object-fit: $imageFit;
}

.artwork-title {
  font-family: $sanSerifFontFamily;
  color: $fontColor;
  background-color: rgba(255, 255, 255, 0.2);
}

.heading {
  font-family: $serifFontFamily;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: $themeColor;
  color: $fontColor;
}

ul {
	list-style-type: none;
	margin: 0;
	width: 100%;
	padding: 0;
	overflow: hidden;
	background-colour: darken($themeColor, 10%);
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

li {
	float: left;
}

li a {
	font-family: $sanSerifFontFamily;
	display: block;
	color: darken($themeColor, 75%);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.float-right {
	float: right;
}

li a:hover {
	background-color: darken($themeColor, 10%);
};

.active {
	background-color: darken($themeColor, 10%);
}

.bodytext
{
	font-family: $sanSerifFontFamily;
	text-align: center;
}
