$sanSerifFontFamily: Lato, sans-serif, ;
$serifFontFamily: Lustria, serif;
$themeColor: #ffffff;
$accentColor: #c38d41;
$borderWidth: 1px;
$themePadding: 30px;

$themeMarginTop: 60px;
$themeMarginRight: auto;
$themeMarginBottom: 60px;
$themeMarginLeft: auto;
$themeMaxWidth: 960px;

$imageWidth: 200px;
$imageHeight: 100%;
$imageFit: none;

$fontColor: darken($themeColor, 75%);
.header {
  display: flex;
  align-items: center;
  background-color: darken($themeColor, 40%);
  margin: $themeMarginTop $themeMarginRight $themeMarginBottom $themeMarginLeft;  
}

.section {
  font-family: $sanSerifFontFamily;
  text-align: center;
  background-color: darken($themeColor, 0%);
  margin: $themeMarginTop $themeMarginRight $themeMarginBottom $themeMarginLeft;
  
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  border-color: darken($themeColor, 0%);
  border-style: solid;
  border-width: $borderWidth+1;
  max-width: $themeMaxWidth;
  margin: $themeMarginTop $themeMarginRight $themeMarginBottom $themeMarginLeft;
  background-color: darken($themeColor, 0%);  
}

.portfolio {
  position: relative;
  background-color: darken($themeColor, 5%);
  border-color: darken($themeColor, 50%);
  border-style: solid;
  border-width: $borderWidth;
  padding: $themePadding;
}

.portfolio-img {
  height: $imageWidth;
  width: $imageHeight;
  object-fit: $imageFit;
}

.portfolio-title {
	font-family: $sanSerifFontFamily;
	color: $fontColor;
	text-align: center;
  }

.navigation {
	overflow: hidden;
}

.navigation a {
	float: left;
	display: block;
	color: darken($themeColor, 50%);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: $sanSerifFontFamily;
}

.navigation a:hover {
	color: $themeColor;
	background-color: lighten($accentColor, 30%);
}

.active {
	color: $accentColor;
}

.navigation .icon {
	display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
	.navigation a:not(:first-child) {display : none; }
	.navigation a.icon {
		float: right;
		display: block;
	}
}

/* when the user clicks on the icon, the responsive class is added to the navigation with JavaScript */
@media screen and (max-width: 600px) {
	.navigation.responsive {position: relative;}
	.navigation.resonsive a.icon {
		position: absolute;
		right :0;
		top: 0;
	}
	.navigation.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}


ul {
	list-style-type: none;
	margin: 0;
	width: 100%;
	padding: 0;
	overflow: hidden;
	background-color: darken($themeColor, 10%);
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

li {
	float: left;
}

li a {
	font-family: $sanSerifFontFamily;
	display: block;
	color: darken($themeColor, 75%);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.float-right {
	float: right;
}

li a:hover {
	color:$themeColor;
	background-color: lighten($accentColor, 20%);
};

.bodytext
{
	font-family: $sanSerifFontFamily;
	text-align: center;
}

/* slideshows */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;

  margin-right: auto;
  margin-left: auto;
}

/* Hide the images by default */
.slideshow {
	display: none;
	text-align: center;
}
  
.artwork-title {
	font-family: $sanSerifFontFamily;
	color: $fontColor;
	text-align: center;
  }

.artwork {
	margin: auto;
	text-align: center;
}

.slide-number {
	font-family:  $sanSerifFontFamily;
	color: darken($themeColor, 50%);
	text-align: left;
}

.slideshow-counter {
	margin: auto;
	text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 20px;
  font-family: $sanSerifFontFamily;
  color: darken($themeColor, 50%);
  transition: 0.6s ease;
/*  border-radius: 3px 3px 3px 3px; */
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  /* border-radius: 3px 3px 3px 3px; */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: lighten($accentColor, 20%);
}
